set_io i_sw[0] P13
set_io i_sw[1] P12
set_io i_sw[2] P11
set_io i_sw[3] P10
set_io i_sw[4] P9
set_io i_sw[5] P8
set_io i_sw[6] P7
set_io i_sw[7] P6
set_io i_sw[8] P5

set_io o_led[0] C1
set_io o_led[1] C2
set_io o_led[2] C3
set_io o_led[3] C4
set_io o_led[4] C5
set_io o_led[5] C6
set_io o_led[6] C7
set_io o_led[7] C8
set_io o_led[8] C9
