# set_io --warn-no-port PMOD1   65
# set_io --warn-no-port PMOD2   64
# set_io --warn-no-port PMOD3   63
# set_io --warn-no-port PMOD4   62
# set_io --warn-no-port PMOD7   78
# set_io --warn-no-port PMOD8   79
# set_io --warn-no-port PMOD9   80
# set_io --warn-no-port PMOD10  81

set_io o_tx 63 # connect the yellow (rx) lead of EZSync012 to PMOD3
set_io i_rx 65 # connect the orange (tx) lead of EZSync012 to PMOD1
